@tailwind base;
@tailwind components;
@tailwind utilities;

.content{

    display:block;
    position: relative;
    left: 29%;
    margin-top: 35px;
    padding: 25px;
    width: 450px;
    height: 650px;
    text-align: center;

}



